
.arrows-down-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;margin: -75px;
  z-index: 10000;
}

.arrow-item {
width: 70px;
height: 70px;
display: block;
 opacity: 0.5;
 margin: -20px;
padding: 0;
transition: opacity .12s;
animation: arrowOpacityPulse 0.5s infinite; /* نص ثانية بس! */
}

.arrow-item:nth-child(1) {
animation-delay: 0s;
}
.arrow-item:nth-child(2) { animation-delay: 0.08s;
}
.arrow-item:nth-child(3) {
animation-delay: 0.16s;
}

@keyframes arrowOpacityPulse {
0%, 30%  { opacity: 0.1; }
50%  { opacity: 0.99; }
80%, 100% { opacity: 0.1; }
}

@media (max-width: 767px) {
    .arrows-down-group {
    margin: -40px;
    }
}
